.buttons {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

  &.ta--l {
    justify-content: flex-start;
  }
}

.button {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  min-width: myclamp(42px, 56px, 1440px, 1440px);
  min-height: myclamp(42px, 56px, 1440px, 1440px);
  border-radius: myclamp(42px, 56px, 1440px, 1440px);
  gap: 10px;
  padding: 10px 32px;
  background: var(--blue);
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  transition: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  transform: translate(0px, 0px);
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transition: 0.4s;
    transform: translate(0%, 0%);
    background: var(--gradient);
    z-index: 1;
    pointer-events: none;
    user-select: none;
    border-radius: 50px;
  }

  &.button--medium {
    min-width: 46px;
    min-height: 46px;
    padding: 7px 20px;
    span {
      font-size: 18px;
    }
  }

  &.button--border {
    min-width: 46px;
    min-height: 46px;
    padding: 7px 20px;
    background: var(--gradient);
    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      left: 3px;
      top: 3px;
      background: var(--white);
      border-radius: 50px;
      opacity: 1;
    }
    span {
      font-size: 18px;
      transition: 0.4s;
      color: var(--color);
    }
    @media (hover: hover) {
      &:hover {
        span {
          color: var(--white);
        }

        &:before {
          opacity: 0;
        }
      }
    }
    &.active {
      span {
        color: var(--white);
      }

      &:before {
        opacity: 0;
      }
    }
  }

  &.button--small {
    min-width: 36px;
    min-height: 36px;
    padding: 7px 20px;
    span {
      font-size: 16px;
    }
    &:before {
      transform: translate(100%, 0%);
    }
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:before {
        transform: translate(0%, 0%);
      }
    }
  }

  &:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translate(0px, 2px);
  }

  img,
  svg {
    z-index: 2;
  }

  span {
    position: relative;
    z-index: 3;
    font-family: var(--font);
    font-size: myclamp(16px, 24px, 1440px, 1440px);
    font-weight: 400;
    line-height: 1;
    color: var(--white);
    pointer-events: none;
  }

  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }

  &.full {
    width: 100%;
  }
}
