.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 45px;
  background: var(--white);

  .container {
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 14px;
  }
}

.footer-logo {
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  position: absolute;
  left: 50px;

  img {
    width: 146px;
  }

  p {
    font-size: 14px;
    line-height: 1;
  }
}

.footer-lists {
  display: flex;
  position: relative;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 14px;
}

.footer-lists__buttons,
.footer-lists__links {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.footer-lists__buttons {
  gap: 40px;
}

.footer-lists__links {
  gap: 24px;
  .button {
    margin-left: 34px;
  }
  a {
    font-size: 14px;
    position: relative;
    transition: 0.2s;
    @media (hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }
    &:active {
      background: var(--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }
}

.footer-btn {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  background: var(--blue) url('../img/blue-button-bg.webp') no-repeat left center;
  background-size: auto 100%;
  padding: 6px 6px 6px 28px;
  border-radius: 28px;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  transform: translate(0px, 0px);
  transition: 0.2s;
  &.footer-btn--green {
    background: var(--blue) url('../img/green-button-bg.webp') no-repeat left center;
    background-size: auto 100%;
  }
  img {
    width: 36px;
    height: 36px;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &:active {
    transform: translate(0px, 2px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 1279px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-logo {
    left: 20px;
  }
}

@media (max-width: 949px) {
  .footer {
    .container {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  .footer-logo {
    left: 0px;
    bottom: 94px;
    width: 100%;
    justify-content: center;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

  .footer-lists__buttons,
  .footer-lists__links {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    .button {
      margin: 0;
    }
  }

  .footer-lists__links {
    li {
      order: 2;
      &:last-child {
        order: 1;
        margin-bottom: 130px;
        margin-top: 30px;
      }
    }
  }

  .footer-btn {
    font-size: 16px;
  }
}
