.section--about {
  padding: 60px 0px;
  @media (max-width: 1279px) {
    h2.title {
      padding: 0px 60px 0px 30px;
      br {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 30px 0px;
    h2.title {
      padding: 0px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    @media (max-width: 767px) {
      gap: 50px;
    }
  }
}

.stats {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;

  li {
    width: calc((100% - 80px) / 3);

    strong {
      font-family: var(--medium);
      font-size: 58px;
      color: var(--blue);
    }

    p {
      font-family: var(--regular);
      font-size: 22px;
      margin-top: 20px;
    }

    &:nth-child(3n + 2) {
      strong {
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }

    &:nth-child(3n + 3) {
      strong {
        color: var(--viola);
      }
    }
  }

  @media (max-width: 1279px) {
    gap: 30px 20px;
    padding: 0px 30px;
    li {
      width: calc((100% - 40px) / 3);
      strong {
        font-size: 48px;
      }
      p {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 1023px) {
    gap: 30px 20px;

    li {
      width: calc((100% - 20px) / 2);
      strong {
        font-size: 48px;
      }
      p {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0;
    gap: 20px;
    li {
      width: 100%;
      strong {
        font-size: 44px;
      }
      p {
        font-size: 16px;
        margin-top: 0px;
      }
      &:nth-child(1),
      &:nth-child(5) {
        strong {
          color: var(--blue);
          background: none;
          -webkit-background-clip: border-box;
          background-clip: border-box;
          -webkit-text-fill-color: var(--blue);
        }
      }
      &:nth-child(2) {
        strong {
          background: var(--gradient-vertical-invers);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }
      &:nth-child(4) {
        strong {
          background: var(--gradient-vertical);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}

.rules {
  margin-top: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;

  > li {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding-left: 74px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 60px;
      height: 30px;
      background: url('../img/svg/rules-bb.svg') no-repeat center center/cover;
    }
    &:first-child:before {
      background: url('../img/svg/rules-blue.svg') no-repeat center center/cover;
    }
    &:last-child:before {
      background: url('../img/svg/rules-viola.svg') no-repeat center center/cover;
    }

    p {
      font-size: 24px;
      line-height: 1.4;
    }
  }

  @media (max-width: 1279px) {
    margin-top: 30px;
    padding: 0px 60px 0px 30px;
    > li {
      gap: 14px;
      padding-left: 64px;
      &:before {
        width: 50px;
        height: 25px;
        top: 4px;
      }

      p {
        font-size: 20px;
        line-height: 1.6;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0px;
    > li {
      p br {
        display: none;
      }
    }
  }
}

.online-offline {
  display: flex;
  position: relative;
  width: 100%;
  gap: 40px;
  margin-top: 14px;
  margin-bottom: 14px;
  @media (max-width: 1023px) {
    gap: 20px 80px;
    flex-wrap: wrap;
  }

  li {
    display: inline-flex;
    gap: 18px;
    align-items: center;
    align-content: center;
    width: auto;
    @media (max-width: 1023px) {
      gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: column;
    }
    strong {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: linear-gradient(90deg, #0189cb, #15bc7e);
      border-radius: 40px;
      width: 186px;
      height: 46px;
      @media (max-width: 767px) {
        width: 140px;
        height: 36px;
      }
      &:before {
        content: '';
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        position: absolute;
        left: 3px;
        top: 3px;
        background: var(--white);
        border-radius: 50px;
      }

      span {
        position: relative;
        z-index: 2;
        background: linear-gradient(90deg, #0189cb, #15bc7e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-family: var(--medium);
        font-size: 32px;
        @media (max-width: 767px) {
          font-size: 24px;
        }
      }
    }
  }
}

.audience {
  margin-top: myclamp(30px, 40px, 1440px, 1440px);
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  transform: translate(-24px, 0px);

  li {
    padding: 20px 24px;
    width: calc((100% - 40px) / 3);
    border-radius: 20px;
    font-family: var(--medium);
    font-size: myclamp(20px, 24px, 1440px, 1440px);
    line-height: 1.2;
    background: url('../img/audience-blue-bg.webp') no-repeat center center/cover;

    &:first-child {
      background: url('../img/audience-green-bg.webp') no-repeat center center/cover;
    }
    &:last-child {
      background: url('../img/audience-viola-bg.webp') no-repeat center center/cover;
    }
  }

  @media (max-width: 1279px) {
    padding-left: 30px;
    padding-right: 60px;
  }

  @media (max-width: 767px) {
    padding-left: 0px;
    padding-right: 0px;
    transform: translate(0px, 0px);
    li {
      min-height: 90px;
      width: 100%;
    }
  }
}
