.section--maps {
  padding: 60px 0px;
  @media (max-width: 767px) {
    padding: 30px 0px 40px 0px;
  }
}

.swiper--maps {
  margin-top: 40px;
  overflow: visible;
  @media (max-width: 1279px) {
    max-width: 910px;
  }
  @media (max-width: 1023px) {
    max-width: 640px;
  }

  @media (max-width: 767px) {
    margin-top: 20px;
  }

  .swiper-arrow {
    &[data-arrow-next] {
      left: calc(100% + 10px);
    }

    &[data-arrow-prev] {
      right: calc(100% + 10px);
    }

    @media (max-width: 1439px) {
      top: calc(100% + 30px);
      z-index: 11;
      &[data-arrow-next] {
        left: calc(50% + 10px);
      }

      &[data-arrow-prev] {
        right: calc(50% + 10px);
      }
    }
  }

  .swiper-slide {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: myclamp(24px, 40px, 1440px, 1440px);
    background: var(--white);
    min-height: 600px;
    padding: 35px;
    @media (max-width: 1279px) {
      padding: myclamp(20px, 35px, 1440px, 1440px);
    }
    @media (max-width: 1023px) {
      min-height: 830px;
    }

    border-radius: 20px;
    transition: 0.6s;
    opacity: 0;
    &.svg-map {
      background: none;
      padding: 0;
      gap: 10px;
      align-content: flex-start;
      @media (max-width: 1023px) {
        background: var(--white);
      }
      @media (max-width: 767px) {
        gap: 0px;
      }
    }
    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.map {
  display: block;
  position: relative;
  width: 100%;
  max-width: myclamp(500px, 646px, 1440px, 1440px);
  height: 530px;
  border-radius: 20px;
  background: var(--bg);
  overflow: hidden;
  @media (max-width: 1023px) {
    max-width: 100%;
    height: 400px;
  }
  @media (max-width: 767px) {
    height: 280px;
  }
}

.map-description {
  display: flex;
  width: 100%;
  max-width: 362px;
  margin-top: auto;
  padding-bottom: 20px;
  margin-right: auto;
  flex: 1;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: myclamp(14px, 20px, 1440px, 1440px);
  text-align: left;
  @media (max-width: 1023px) {
    max-width: 100%;
    p {
      max-width: 520px;
    }
  }
  .button {
    margin-bottom: 20px;
    &:first-child {
      margin-bottom: 0px;
    }
    @media (max-width: 1023px) {
      margin: 0 auto;
      margin-bottom: 20px;
      &:first-child {
        margin-bottom: 0px;
      }
    }
  }

  p {
    font-size: 20px;
    line-height: 1.2;
  }
}
