.section--hero {
  height: 100svh;
  max-height: 950px;
  min-height: myclamp(390px, 620px, 1440px, 1440px);
  background: url('../img/hero-bg.webp') no-repeat center center/cover;
  padding: 60px 0px;

  @media (max-width: 767px) {
    height: 390px;
    padding: 60px 0px 20px 0px;
    margin-top: 20px;
    background: url('../img/hero-bg-mobil.webp') no-repeat center center/cover;
  }

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .button {
      min-width: myclamp(168px, 264px, 1440px, 1440px);
      margin-top: auto;
    }
  }
}

.hero-logo {
  display: flex;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(14px, 40px, 1440px, 1440px);
  transform: translate(0px, -20svh);
  img {
    width: myclamp(110px, 196px, 1440px, 1440px);
  }

  h1 {
    font-family: var(--font);
    font-weight: 550;
    font-size: myclamp(12px, 22px, 1440px, 1440px);
    line-height: 1;
    color: var(--black);
  }

  @media (max-width: 767px) {
    transform: translate(0px, -100px);
  }

  @media (max-height: 620px) {
    transform: translate(0px, -120px);
  }

  @media (min-height: 950px) {
    transform: translate(0px, -200px);
  }
}

.hero-list {
  display: flex;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(6px, 18px, 1440px, 1440px);
  transform: translate(0px, 20svh);

  @media (max-height: 620px) {
    transform: translate(0px, 120px);
  }
  @media (min-height: 950px) {
    transform: translate(0px, 200px);
  }
  @media (max-width: 767px) {
    transform: translate(0px, 64px);
  }

  li {
    display: flex;
    position: relative;
    height: myclamp(20px, 58px, 1440px, 1440px);
    padding: myclamp(5px, 15px, 1440px, 1440px) myclamp(4px, 22px, 1440px, 1440px);
    border-radius: 58px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    border-left: 2px solid var(--white);
    border-top: 2px solid var(--white);

    span {
      font-family: var(--font);
      font-weight: 550;
      font-size: myclamp(10px, 30px, 1440px, 1440px);
      line-height: 1;
      color: var(--black);
      padding-bottom: 2%;
    }
  }
}

.age-limit {
  font-family: var(--font);
  font-weight: 300;
  font-size: myclamp(32px, 68px, 1440px, 1440px);
  color: var(--white);
  position: absolute;
  right: 15px;
  bottom: 0px;
}
