.title-box {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
}

.title {
  display: block;
  width: 100%;
  font-size: myclamp(27px, 34px, 1440px, 1440px);
  text-align: center;

  &.title--h2 {
    font-size: myclamp(40px, 48px, 1440px, 1440px);
  }

  &.ta--l {
    text-align: left;
  }
}

.subtitle {
  font-size: myclamp(20px, 22px, 1440px, 1440px);
  line-height: 1.2;
}
