@charset "UTF-8";
:root {
  --light: "aeroport-light", sans-serif;
  --regular: "aeroport-regular", sans-serif;
  --medium: "aeroport-medium", sans-serif;
  --bold: "aeroport-bold", sans-serif;
  --bg: #f5f5f5;
  --color: #40464d;
  --white: #ffffff;
  --black: #000000;
  --blue: #00aaff;
  --viola: #965eeb;
  --green: #15d967;
  --grey: #b3b5b8;
  --invalid: #ff4053;
  --gradient: linear-gradient(90deg, var(--blue), var(--viola));
}

@font-face {
  font-family: "aeroport-light";
  src: url("../fonts/aeroport-light.woff2") format("woff2"), url("../fonts/aeroport-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "aeroport-regular";
  src: url("../fonts/aeroport-regular.woff2") format("woff2"), url("../fonts/aeroport-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "aeroport-medium";
  src: url("../fonts/aeroport-medium.woff2") format("woff2"), url("../fonts/aeroport-medium.woff") format("woff");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "aeroport-bold";
  src: url("../fonts/aeroport-bold.woff2") format("woff2"), url("../fonts/aeroport-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Вращение по кругу */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes clock-blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@keyframes clock-blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
[data-animation] {
  position: relative;
  transition: 1.5s;
}

[data-animation].animated {
  transform: translate(0px, 0px) rotate(0deg) scale(1) !important;
  opacity: 1 !important;
}

[data-animation=fade-up] {
  transform: translate(0px, 40px);
  opacity: 0;
}

[data-animation=fade] {
  opacity: 0;
}

.fixed-pagination {
  display: inline-flex;
  position: fixed;
  left: calc(100dvw - 195px);
  top: 50%;
  z-index: 30;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  transform: translate(0%, -50%) rotate(-90deg);
}
.fixed-pagination .button {
  white-space: nowrap;
}
.fixed-pagination.dark .button {
  background: rgba(64, 70, 77, 0.4);
}
.fixed-pagination.dark .button:before {
  opacity: 0;
}
@media (hover: hover) {
  .fixed-pagination.dark .button:hover:before {
    opacity: 1;
  }
}
.fixed-pagination a:not(.button) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  flex-shrink: 0;
  background: rgba(64, 70, 77, 0.4);
}
.fixed-pagination a:not(.button):before {
  content: "";
  width: 6px;
  height: 6px;
  transition: 0.3s;
  border-radius: 6px;
  position: absolute;
  background: #fff;
  opacity: 0;
}
.fixed-pagination a:not(.button).active:before {
  opacity: 1;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 200;
  background: var(--bg);
  transition: 1s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.preloader.hidden {
  pointer-events: none;
  opacity: 0;
}
.preloader span {
  width: 40px;
  height: 40px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 1s;
  transform: scale(1);
  z-index: 3;
}
@media (max-width: 1023px) {
  .preloader span {
    width: 180px;
  }
}
.preloader span img {
  position: absolute;
  width: 100%;
}
.preloader span:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 100px;
  border-top: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-animation: rotate 0.4s linear infinite;
          animation: rotate 0.4s linear infinite;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--color);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--regular);
  font-size: 16px;
  line-height: 1.2;
}

html,
body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--bold);
  color: inherit;
}

a {
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  flex: 1;
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.link {
  text-decoration: underline;
  color: inherit;
}

.slider-arrows {
  display: inline-flex;
  gap: 12px;
  padding-bottom: 10px;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .slider-arrows {
    gap: 10px;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .slider-arrows {
    display: none;
  }
}

.swiper {
  width: 100%;
}

.swiper-arrow {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  border: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
  top: 50%;
}
.swiper-arrow[data-arrow-prev] {
  background: url("../img/svg/arrow-prev.svg") no-repeat center center;
  right: 100%;
}
.swiper-arrow[data-arrow-next] {
  background: url("../img/svg/arrow-next.svg") no-repeat center center;
  left: 100%;
}

.swiper-pagination {
  display: flex;
  position: relative;
  width: 100% !important;
  height: auto;
  padding-bottom: 4px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 0px !important;
  margin-top: 30px;
  gap: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px;
  background-color: var(--white) !important;
  transform: scale(1);
  opacity: 1;
  margin: 0 !important;
  transition: 0.6s !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: var(--gradient);
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  opacity: 1;
}

.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 20;
  background: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.header .container {
  display: flex;
  position: static;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0px 50px;
  gap: 26px;
}

.loaded .header {
  display: block;
}

.logo {
  position: relative;
}
.logo img {
  width: 126px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex: 1;
}

.menu {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
}
.menu li .menu__link {
  font-family: var(--medium);
  color: var(--black);
  font-size: 16px;
  line-height: 1;
  transition: color 0.2s;
  cursor: pointer;
}
@media (hover: hover) {
  .menu li .menu__link:hover {
    color: var(--blue);
  }
}
.menu li .menu__link:active {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.menu li:first-child {
  margin-left: auto;
}

.socials {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 14px;
}
.socials .button.button--small {
  padding: 0;
}
.socials li {
  width: 34px;
  height: 34px;
  border-radius: 34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  transition: 0.2s;
}
@media (hover: hover) {
  .socials li:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1023px) {
  .header {
    border-bottom: 0px;
  }
  .burger {
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--brown);
    font-size: 0px;
    z-index: 2;
  }
  .burger span, .burger:before, .burger:after {
    position: absolute;
    height: 2px;
    background: var(--white);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before {
    content: "";
    width: 22px;
  }
  .burger:after {
    content: "";
    width: 10px;
  }
  .burger span {
    width: 16px;
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -8px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 8px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(10px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    width: 22px;
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    width: 22px;
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .header {
    height: 53px;
    border-bottom: none;
  }
  .header:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: var(--bg);
    border-bottom: 3px solid var(--yellow);
    z-index: 2;
  }
  .header__logo {
    margin: 0 auto;
    height: 53px;
    width: 146px;
  }
  .header__logo .logo {
    height: 78px;
    background: url("../img/svg/logo-bg-mobil.svg") no-repeat center top/cover;
  }
  .header__logo .logo img {
    width: 102px;
  }
  .header__logo .logo:before {
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
  }
  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: var(--bg);
    transform: translate(0%, -100%);
    transition: transform 0.6s;
    padding: 0px;
    z-index: 0;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    transform: translate(0%, 0%);
  }
  .menu {
    padding: 100px 30px 40px 30px;
    width: 100%;
    max-width: 768px;
    min-height: 100svh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
}
@media (max-width: 1023px) and (max-width: 767px) {
  .menu {
    padding: 100px 20px 40px 20px;
  }
}
@media (max-width: 1023px) {
  .menu li:first-child {
    margin-left: 0;
    margin-top: auto;
  }
  .menu li .menu__link {
    font-size: 32px;
  }
  .menu li.header__buttons {
    width: 100%;
    margin-top: auto;
    flex-direction: column;
  }
}
.buttons {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.buttons.ta--l {
  justify-content: flex-start;
}

.button {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  min-width: 56px;
  min-height: 56px;
  border-radius: 56px;
  gap: 10px;
  padding: 10px 32px;
  background: var(--blue);
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  transition: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  transform: translate(0px, 0px);
}
.button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  transition: 0.4s;
  transform: translate(0%, 0%);
  background: var(--gradient);
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button.button--medium {
  min-width: 46px;
  min-height: 46px;
  padding: 7px 20px;
}
.button.button--medium span {
  font-size: 18px;
}
.button.button--small {
  min-width: 36px;
  min-height: 36px;
  padding: 7px 20px;
}
.button.button--small span {
  font-size: 16px;
}
.button.button--small:before {
  transform: translate(100%, 0%);
}
@media (hover: hover) {
  .button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .button:hover:before {
    transform: translate(0%, 0%);
  }
}
.button:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transform: translate(0px, 2px);
}
.button img,
.button svg {
  z-index: 2;
}
.button span {
  position: relative;
  z-index: 3;
  font-family: var(--regular);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var(--white);
  pointer-events: none;
}
.button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}
.button.full {
  width: 100%;
}

.title-box {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
}

.title {
  display: block;
  width: 100%;
  font-size: 34px;
  text-align: center;
}
.title.title--h2 {
  font-size: 48px;
}
.title.ta--l {
  text-align: left;
}

.subtitle {
  font-size: 22px;
  line-height: 1.2;
}

:root {
  --input-font-family: var(--regular);
  --input-font-size: 18px;
  --input-height: 64px;
  --input-background: inherit;
  --input-border: #f0f0f0;
  --input-border-radius: 20px;
  --input-label-color: var(--color);
  --input-label-size: 18px;
  --input-color: var(--color);
  --input-placeholder-color: #b3b5b8;
  --input-padding: 26px;
}

fieldset {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  border: 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}
.form .button {
  margin-top: 10px;
}

.label {
  display: block;
  width: 100%;
  position: relative;
  color: inherit;
  text-align: left;
}
.label .label__text {
  position: absolute;
  transform: translate(0px, 0px) scale(1);
  left: calc(var(--input-padding) + 3px);
  top: 14px;
  background: #fff;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.input-icon {
  display: flex;
  position: absolute;
  width: var(--input-height);
  height: var(--input-height);
  right: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  transition: 0.3s;
  transform: rotate(0deg);
}
.input-icon svg {
  width: 35%;
  height: auto;
  pointer-events: none;
  transform-origin: center center;
}
.input-icon.full {
  right: 4px;
}
.input-icon.full svg {
  width: 100%;
  height: auto;
}

span.input-icon {
  pointer-events: none;
}

.input {
  width: 100%;
  height: var(--input-height);
  background: var(--input-background);
  border: 3px solid var(--input-border);
  border-radius: var(--input-border-radius);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  color: var(--input-color);
  padding: 0px var(--input-padding);
  font-weight: 400;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: 0.3s;
  box-shadow: none;
  resize: none;
}
.input.input--textarea {
  height: 134px;
  padding: 20px var(--input-padding);
}
.input.placeholder {
  color: var(--input-placeholder-color);
}
.input.placeholder + .input-icon {
  color: var(--input-placeholder-color);
}
.input::-moz-placeholder {
  opacity: 1;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: var(--input-placeholder-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
.input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: var(--input-placeholder-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
.input::placeholder {
  opacity: 1;
  transition: 0.3s;
  color: var(--input-placeholder-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
.input.invalid {
  border: 3px solid var(--invalid);
  color: var(--invalid);
}
.input.invalid + .input-icon {
  color: var(--invalid);
}
.input:focus, .input.has-value {
  border: 3px solid var(--blue);
}
.input:focus.invalid, .input.has-value.invalid {
  border: 3px solid var(--invalid);
}
.input:focus + .label__text, .input.has-value + .label__text {
  pointer-events: none;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0);
  transform-origin: left center;
  transform: translate(0px, -14px) scale(0.6);
}
.input:focus::-moz-placeholder, .input.has-value::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder, .input.has-value:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder, .input.has-value::placeholder {
  opacity: 0;
}
.input:disabled {
  pointer-events: none;
  opacity: 0.4;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 16px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  border: 1px solid transparent;
  background-clip: content-box;
}

/* Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

.radio,
.checkbox {
  display: none;
}
.radio + .label__text,
.checkbox + .label__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
  top: 0px;
  background: none;
  width: 100%;
  min-height: 56px;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
  font-family: var(--input-font-family);
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
  text-align: center;
  cursor: pointer;
}
.radio + .label__text span,
.checkbox + .label__text span {
  display: inline;
  padding-top: 9px;
}
.radio + .label__text + .inputError,
.checkbox + .label__text + .inputError {
  display: none;
}
.radio + .label__text a,
.checkbox + .label__text a {
  display: inline;
  width: auto;
  margin: 0;
  text-align: left;
}
.radio + .label__text:before,
.checkbox + .label__text:before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 15px);
  top: -3px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  border: 3px solid #f0f0f0;
  background: var(--white);
}
.radio:checked + p:before,
.checkbox:checked + p:before {
  background: var(--gradient);
  border: 3px solid var(--white);
}
.radio.invalid + p,
.checkbox.invalid + p {
  color: var(--invalid);
}
.radio.invalid + p:before,
.checkbox.invalid + p:before {
  border: 3px solid var(--invalid);
}
.radio.invalid:checked + p,
.checkbox.invalid:checked + p {
  color: var(--color);
}
.radio.invalid:checked + p:before,
.checkbox.invalid:checked + p:before {
  background: var(--gradient);
  border: 3px solid var(--white);
}

.input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: var(--input-color) !important;
  font-size: var(--input-font-size) !important;
  font-family: var(--input-font-family) !important;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.inputError {
  display: block;
  width: 100%;
  height: 0px;
  position: relative;
  text-align: left;
  overflow: hidden;
  transition: 0.3s;
  font-size: 14px;
  z-index: 10;
  pointer-events: none;
}
.inputError span {
  display: inline-block;
  position: relative;
  color: var(--invalid);
  font-size: 11px;
}

/* Chrome, Safari, Edge */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

select.open + .input-icon {
  transform: rotate(180deg);
}

.select {
  display: block;
  position: relative;
}

.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 45px;
  background: var(--white);
}
.footer .container {
  display: flex;
  position: static;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 14px;
}

.footer-logo {
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  position: absolute;
  left: 50px;
}
.footer-logo img {
  width: 146px;
}
.footer-logo p {
  font-size: 14px;
  line-height: 1;
}

.footer-lists {
  display: flex;
  position: relative;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 14px;
}

.footer-lists__buttons,
.footer-lists__links {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.footer-lists__buttons {
  gap: 40px;
}

.footer-lists__links {
  gap: 24px;
}
.footer-lists__links .button {
  margin-left: 34px;
}
.footer-lists__links a {
  font-size: 14px;
  position: relative;
  transition: 0.2s;
}
@media (hover: hover) {
  .footer-lists__links a:hover {
    color: var(--blue);
  }
}
.footer-lists__links a:active {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.footer-btn {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
  background: var(--blue) url("../img/blue-button-bg.webp") no-repeat left center;
  background-size: auto 100%;
  padding: 6px 6px 6px 28px;
  border-radius: 28px;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  transform: translate(0px, 0px);
  transition: 0.2s;
}
.footer-btn.footer-btn--green {
  background: var(--blue) url("../img/green-button-bg.webp") no-repeat left center;
  background-size: auto 100%;
}
.footer-btn img {
  width: 36px;
  height: 36px;
}
@media (hover: hover) {
  .footer-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}
.footer-btn:active {
  transform: translate(0px, 2px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  padding: 50px 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.backdrop:before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: -20px;
  right: -20px;
  top: -50px;
  width: calc(100% + 40px);
  height: calc(100% + 100px);
  background: var(--color);
  opacity: 0.3;
  grid-area: 1/1/2/2;
}

.popup {
  position: relative;
  transition: 0.4s;
  transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  pointer-events: none;
}
@media (max-width: 419px) {
  .popup {
    width: 100%;
  }
}
.popup.visible {
  opacity: 1;
  transform: translate(0px, 0px);
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  z-index: 2;
}
.popup-close:before, .popup-close:after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 24px;
  height: 2px;
  background: #bebebe;
  transition: 0.3s;
}
.popup-close:before {
  transform: rotate(45deg);
}
.popup-close:after {
  transform: rotate(-45deg);
}
.popup-close:hover:before {
  transform: rotate(135deg);
}
.popup-close:hover:after {
  transform: rotate(45deg);
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 24px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 766px;
  pointer-events: all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--white);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.popup-content .button {
  margin: 0 auto;
  min-width: 264px;
}
.popup-content .form {
  max-width: 600px;
}
.popup-content .form .popup-subtitle {
  width: 100%;
  margin-top: 20px;
}

.popup-image {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.popup-title {
  font-family: var(--bold);
  font-size: 34px;
  line-height: 1.2;
}

.popup-subtitle {
  font-size: 24px;
  line-height: 1.2;
  max-width: 660px;
}
.popup-subtitle .link {
  display: inline-block;
  opacity: 0.5;
  font-size: 16px;
  margin-top: 4px;
}
.popup-subtitle .link:hover {
  color: var(--blue);
  opacity: 1;
}

.popup-text {
  font-weight: 400;
  font-size: 16px;
}
.popup-text a {
  transition: 0.3s;
  text-decoration: underline;
}
@media (hover: hover) {
  .popup-text a:hover {
    color: var(--blue);
    text-decoration: none;
  }
}
.popup-text a:active {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}

.section--hero {
  height: 100svh;
  min-height: 620px;
  background: url("../img/hero-bg.webp") no-repeat center center/cover;
  padding: 60px 0px;
}
.section--hero .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.section--hero .container .button {
  min-width: 264px;
  margin-top: auto;
}

.hero-logo {
  display: flex;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  transform: translate(0px, -20svh);
}
.hero-logo img {
  width: 196px;
}
.hero-logo h1 {
  font-family: var(--light);
  font-weight: 300;
  font-size: 22px;
  line-height: 1;
  color: var(--black);
}

.hero-list {
  display: flex;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 18px;
  transform: translate(0px, 20svh);
}
.hero-list li {
  display: flex;
  position: relative;
  height: 58px;
  padding: 15px 22px;
  border-radius: 58px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
}
.hero-list li span {
  font-family: var(--medium);
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  color: var(--black);
}

.section--about {
  padding: 60px 0px;
}
.section--about .container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.stats {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
}
.stats li {
  width: calc((100% - 80px) / 3);
}
.stats li strong {
  font-family: var(--medium);
  font-size: 58px;
  color: var(--blue);
}
.stats li p {
  font-family: var(--regular);
  font-size: 22px;
  margin-top: 20px;
}
.stats li:nth-child(3n+2) strong {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.stats li:nth-child(3n+3) strong {
  color: var(--viola);
}

.rules {
  margin-top: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.rules > li {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 74px;
  position: relative;
}
.rules > li:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 30px;
  background: url("../img/svg/rules-bb.svg") no-repeat center center/cover;
}
.rules > li:first-child:before {
  background: url("../img/svg/rules-blue.svg") no-repeat center center/cover;
}
.rules > li:last-child:before {
  background: url("../img/svg/rules-viola.svg") no-repeat center center/cover;
}
.rules > li p {
  font-size: 24px;
  line-height: 1.2;
}

.online-offline {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 14px;
}
.online-offline li {
  width: calc((100% - 40px) / 2);
}
.online-offline li strong {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(90deg, #0189cb, #15bc7e);
  border-radius: 40px;
  width: 186px;
  height: 46px;
  margin-bottom: 10px;
}
.online-offline li strong:before {
  content: "";
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  left: 3px;
  top: 3px;
  background: var(--white);
  border-radius: 50px;
}
.online-offline li strong span {
  position: relative;
  z-index: 2;
  background: linear-gradient(90deg, #0189cb, #15bc7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: var(--medium);
  font-size: 32px;
}

.audience {
  margin-top: 40px;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.audience li {
  padding: 20px 24px;
  width: calc((100% - 40px) / 3);
  border-radius: 20px;
  font-family: var(--medium);
  font-size: 24px;
  line-height: 1.2;
  background: url("../img/audience-blue-bg.webp") no-repeat center center/cover;
}
.audience li:first-child {
  background: url("../img/audience-green-bg.webp") no-repeat center center/cover;
}
.audience li:last-child {
  background: url("../img/audience-viola-bg.webp") no-repeat center center/cover;
}

.section--speakers {
  padding: 60px 0px;
}
.section--speakers .swiper-arrow {
  top: 110px;
  margin-top: 0px;
}

.swiper--speakers {
  width: calc(100% - 30px);
  margin-top: 40px;
  overflow: visible;
}
.swiper--speakers img {
  width: 100%;
}
.swiper--speakers .swiper-slide {
  transition: 0.6s;
  opacity: 0;
  transform: scale(0.8);
}
.swiper--speakers .swiper-slide.swiper-slide-active, .swiper--speakers .swiper-slide.swiper-slide-next {
  opacity: 1;
  transform: scale(1);
}
.swiper--speakers .swiper-slide.swiper-slide-active + .swiper-slide, .swiper--speakers .swiper-slide.swiper-slide-next + .swiper-slide {
  opacity: 1;
  transform: scale(1);
}
.swiper--speakers .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide, .swiper--speakers .swiper-slide.swiper-slide-next + .swiper-slide + .swiper-slide {
  opacity: 1;
  transform: scale(1);
}

.speaker {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
  padding: 30px;
  margin: 0 auto;
}
.speaker:before,
.speaker > p,
.speaker .speaker__image:before,
.speaker .speaker__description {
  transition: 0.3s;
  opacity: 0;
}
.speaker:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.speaker > * {
  z-index: 1;
}
.speaker:hover:before,
.speaker:hover > p,
.speaker:hover .speaker__image:before,
.speaker:hover .speaker__description {
  opacity: 1;
}
.speaker p {
  font-size: 16px;
  line-height: 1.375;
}

.speaker__image {
  position: relative;
  width: 190px;
  height: 190px;
  margin: 0 auto;
}
.speaker__image:before {
  content: "";
  width: 286px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  background: url("../img/svg/speaker-bg.svg") no-repeat center center;
  background-size: auto 100%;
}
.speaker__image .image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 190px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.speaker__description h2,
.speaker__description h3,
.speaker__description h4,
.speaker__description h5,
.speaker__description h6 {
  display: block;
  font-family: var(--regular);
  font-size: 22px;
  margin-bottom: 8px;
}
.speaker__description p {
  opacity: 0.8;
}

.section--chatbot {
  padding: 60px 0px;
}
.section--chatbot .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
}

.qr-code {
  width: 300px;
}

.section--maps {
  padding: 60px 0px;
}

.swiper--maps {
  margin-top: 40px;
  overflow: visible;
}
.swiper--maps .swiper-slide {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  background: var(--white);
  padding: 40px;
  border-radius: 20px;
  transition: 0.6s;
  opacity: 0;
}
.swiper--maps .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.map {
  display: block;
  position: relative;
  width: 646px;
  height: 530px;
  border-radius: 20px;
  background: var(--bg);
}

.map-description {
  display: flex;
  width: 100%;
  flex: 1;
  position: relative;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.map-description p {
  font-size: 20px;
  line-height: 1.2;
}

.countdown {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  margin-top: 20px;
  text-align: center;
}
.countdown ul {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 80px;
  font-family: var(--regular);
}
.countdown ul li {
  position: relative;
  font-size: 58px;
  font-family: var(--medium);
}
.countdown ul li:before {
  content: "";
  width: 8px;
  height: 29px;
  background: url("../img/svg/counter-dots.svg") no-repeat center center/cover;
  position: absolute;
  left: calc(100% + 36px);
  top: 28px;
  -webkit-animation: clock-blink 1.2s linear infinite;
          animation: clock-blink 1.2s linear infinite;
}
.countdown ul li:last-child:before {
  content: none;
}
.countdown ul li strong {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  background: #fff;
  width: 170px;
  height: 88px;
  border-radius: 20px;
}
.countdown ul li p {
  font-size: 18px;
  padding-top: 10px;
}